/Pertemuan10/Teori/MenuForm/target/
/Pertemuan10/Teori/GUIIntro/build/
/Pertemuan10/Teori/GUIIntro/nbproject/private/
/Pertemuan10/Praktik/JavaAWTTutorial/target/
/Pertemuan10/Praktik/BeratIdeal/target/
/Pertemuan11/Teori/CRUD_MVC/nbproject/private/
/Pertemuan11/Teori/CRUD_MVC/build/
/Pertemuan11/Teori/CRUD_MVC/dist/
/Pertemuan11/Praktik/BeratIdeal/target/
/Pertemuan12/Praktik/DUTA_CODING/target/
/Pertemuan12/Praktik/ProgramAdmin/target/
